/* font  */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* common styles and utilities */
body {
    font-family: 'Poppins',
        sans-serif;

    background-color: #E5E5E5;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    /* margin-top: 16px; */
}

.containers {
    background-color: #FFFFFF;
    Width: 870px;
    margin: 16px;
    padding: 30px;

}

hr {
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}


/* top-players style start  */

.top-players {

    padding-bottom: 30px;
}

.section-title {
    color: #562EFF;
    margin-top: 3px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 33px;
    grid-row-gap: 30px;

}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
    height: 56px;
}

.player-name {
    margin-left: 16px;
}

/* -----------------
       top-blog styles
       ------------------------ */


.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 16px;
}

.blog {
    display: flex;

}

.blog .thumbnail img {
    width: 177px;
    height: 117px;
}

.blog-info {
    margin-left: 16px;
}

.blog-title {
    font-size: 20px;
}

.blog-author {
    color: #9F9F9F;
    font-size: 16px;
}

.blog-author a {
    color: #562EFF;
    text-decoration: none;
}

/*--------------
   course-style 
   ------------------- */

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    margin-right: -15px;
}

.course {
    Width: 252.42px;
    Height: 269.79px;
    background-color:
        #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
}

.course .course-banner img {
    width: 224px;
    height: 104px;
}

.course-banner img {
    margin-top: 5%;
    margin-left: 5%;
}

.course-title {
    margin-top: 2%;
    margin-left: 5%;
}

.course-author {
    margin-top: -7%;
    margin-left: 5%;
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -4%;
    margin-left: 5%;
}

/* span {
    margin-left: -5%;
} */

.fa-star.filled {
    color: #FFC014;
}

.fa-star.empty {
    color: #AEAEAE;
}

.course-duration {
    width: 75px;
    height: 20px;
    text-align: center;
    font-size: 14px;
    color: #FF4A60;
    background: #FFE4E8;
    border-radius: 10px;
    margin-right: 7%;
}

/*---------------
          Media Queries
----------------------- */

/*  ----------------  
       Mobile device
--------------- */

@media screen and (max-width:688px) {

    .containers {
        width: 100%;
    }

    .players,
    .blogs,
    .courses {
        grid-template-columns: repeat(1, 1fr);

    }

    .player,
    .blog {
        flex-direction: column;
        align-items: center;
    }

    .courses {
        justify-items: center;
    }
}

/* teblet devises */

@media screen and (min-width:688px) and (max-width:992px) {


    .containers {
        width: 100%;
    }

    .player,
    .blog {
        flex-direction: column;
        align-items: center;
    }

    .players,
    .blogs,
    .courses {
        grid-template-columns: repeat(2, 1fr);

    }

    .courses {
        justify-items: center;
    }
}